h1 {
    background-color: lightpink;
    color: white;
    text-align: center;
}

h2 {
    color: lightpink;
    text-align: center;
}

.espacado-igualmente {
    justify-content: space-between;
}


h3 {
    color: burlywood;
}

.imagem-shampoo {
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

p.texto-um {
    background-color: lightgrey;
    color: grey;
}

.imagem-mandala {
    height: max-content;
    position: relative;
}

.imagem-oleo-rosa {
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

p.nome-primeiro-oleo {
    color: rgb(255, 164, 178);
}

p.texto-dois {
    color: lightpink;
}

.imagem-oleo-amarelo {
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

p.nome-segundo-oleo {
    color: gold;
}

p.texto-tres {
    color: goldenrod;
}

.imagem-oleo-azul {
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

p.nome-terceiro-oleo {
    color: rebeccapurple;
}

p.texto-quatro {
    color: mediumpurple;
}

.imagem-oleo-preto {
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

p.nome-quarto-oleo {
    color: black;
}

p.texto-cinco {
    color: gray;
}

p.texto-seis {
    background-color: lightgray;
    color: gray;
}

.imagem-cabelo {
    height: max-content;
    position: relative;
}


.caixinhas {
    width: 50%;
}

.caixinhas p {
    color: rgb(255, 255, 255);
    width: 50%;
    margin-left: 25%;
}

p.texto-sete {
    background-color: lightpink;
    color: white;
}

p.texto-oito {
    background-color: gold;
    color: white;
}

p.texto-nove {
    background-color: rebeccapurple;
    color: white;
}

p.texto-dez {
    background-color: black;
    color: white;
}

.flex-container {
    margin: 0;
    padding: 0;
    display: flex;
}


.flex-item {
    background-color: cornsilk;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: x-large;
    color: bisque;
    margin: 5px;
}


.linha {
    flex-direction: row;
}



.coluna {
    width: 100%;
    float: left;
    flex-direction: column;

}


.extrapolar {
    width: 130%
}


.imagem-mandala-canto {
    height: max-content;
    position: relative;
}