h1 {
    background-color: antiquewhite;text-decoration-color: beige;
}

p{
    font-size: x-large; color: bisque;
}

.a {
    color: burlywood;
}

#b {
    text-align: center;stop-opacity: unset;
}

.imagem-java{
    width: 400px;
    height: 300px;
    border-radius: 50px;
}
.imagem-shampoo{
    width: 400px;
    height: 300px;
    border-radius: 50px;
}
.imagem-mandala{
    height: max-content;
    position: relative;
}
.flex-container{
    margin: 0;
    padding: 0;
    display: flex;
}
.flex-item{
    background-color: cornsilk;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: x-large;
    color: bisque;
    margin: 5px ;
}
.linha{
    flex-direction:row;
}
.espacado-igualmente {
    justify-content: space-between;
}
.coluna{
    width: 100%;
    float: left;
    flex-direction: column;

}
.imagem-oleor{
    width: 400px;
    height: 300px;
    border-radius: 50px;
}
.imagem-oleo-ama{
    width: 400px;
    height: 300px;
    border-radius: 50px;
}
.imagem-oleo-azul{
    width: 400px;
    height: 300px;
    border-radius: 50px;
}
.imagem-oleo-preto{
    width: 400px;
    height: 300px;
    border-radius: 50px;
}